@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

$text-color:#6e6d6d;
$highlight-color: rgb(115, 137, 174);
$heading-color: #404040;
$heading-color-dark: black;
$main-font: 'Raleway', sans-serif;
$background-color: rgba(245, 245, 245, 1);

$comp-h1: 50px;
$comp-p: 22px;

$mobile-h1: 44px;
$mobile-p: 18px;