@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


$highlight-color: orange;
$second-highlight-color: rgba(46, 138, 138, 1);
$main-font: 'Oswald', sans-serif;