@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');


$highlight-color: orange;
$second-highlight-color: rgba(50, 172, 169, 1);
$main-font: 'Oswald', sans-serif;

$comp-h1: 50px;
$comp-p: 22px;

$mobile-h1: 44px;
$mobile-p: 18px;