@use "variables";
@use "templates";

.contactDiv {
  @extend %centerTemplate;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  h1 {
    font-size: 60px;
    margin-bottom: 40px;
    color: lighten(variables.$highlight-color, 10%);
  }
  a {
    color: white;
    font-size: 25px;
  }
}

.contactLink {
  @extend %centerTemplate;
  gap: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.contactDiv a:nth-child(odd) {
  transform: translateX(100px);
}

.contactDiv a:nth-child(even) {
  transform: translateX(-100px);
}

.contactLink:hover {
  animation: bounce 0.5;
  animation-fill-mode: forwards;
  text-shadow: 0px 0px 5px 5px white;
}

.contactDiv a.animate {
  opacity: 1;
  transform: translateX(0px);
}

@keyframes bounce {
  0% { transform: translateX(0); }
  50% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

/* For mobile screens*/
@media only screen and (max-width:640px) {
  .contactDiv {
    h1 {
      font-size: variables.$mobile-h1;
    }

    a {
      p {
        font-size: variables.$mobile-p;
      }
      font-size: variables.$mobile-p;
    }
  }
}
