@use "variables";
@use "templates";

.contactDiv {
  @extend %centerTemplate;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: black;
  color: white;
  h1 {
    font-size: 50px;
    margin-bottom: 40px;
  }
  a {
    color: white;
    font-size: 25px;
  }
}

.contactLink {
  @extend %centerTemplate;
  gap: 20px;
  opacity: 0;
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.contactDiv a:nth-child(odd) {
  transform: translateX(100px);
}

.contactDiv a:nth-child(even) {
  transform: translateX(-100px);
}

.contactLink:hover {
  color: variables.$highlight-color;
  animation: bounce 0.5;
  animation-fill-mode: forwards;
}

.contactDiv a.animate {
  opacity: 1;
  transform: translateX(0px);
}

@keyframes bounce {
  0% { transform: translateX(0); }
  50% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}