@use 'variables';

.homeDiv {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.homeMain {
  background-image: url("../assets/homeBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;  
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
  display: flex;
  align-items: center;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: filter 0.3s ease-in-out;
}

//typing animation
.typewriter {
  color: black;
  z-index: 1;
  padding: 40px;
  margin-left: 10%;
  color: white;
  width: 420px;

  p:first-child {
    color: variables.$second-highlight-color;
    animation: 3s linear slideinOne;
  }

  h1 {
    font-size: 70px;
    margin: 5px 0px;
    animation: 3s linear slideinTwo;
  }
  p:nth-child(4) {
    animation: 4s linear slideinThree;
  }
  span {
    color: variables.$second-highlight-color;
  }
}

@keyframes slideinOne {
  from {
    transform: (translateX(-50vw));
  } 
  30% {
    transform: (translateX(0));
  }
}

@keyframes slideinTwo {
  from {
    transform: (translateX(-100vw));
  } 
  60% {
    transform: (translateX(0));
  }
}

@keyframes slideinThree {
  from {
    transform: (translateX(-300vw));
  } 
  to {
    transform: (translateX(0));
  }
}

.typingText {
  overflow: hidden;
  border-right: .15em solid variables.$highlight-color;
  white-space: nowrap;
  margin: auto;
  letter-spacing: .15em;
  font-size: 22px;
  opacity: 0;
  color: grey;
  animation: 
    typing 1.5s steps(40, end),
    blink-caret .75s step-end infinite;
  animation-fill-mode: forwards;
  animation-delay: 1.8s;
}

@keyframes typing {
  0% {
    width:0;
  }
  1% {
    opacity: 1;
  }
  to {
    width: 100%; 
    opacity: 1;   
    border-right: .15em solid variables.$highlight-color;
  }
}

@keyframes blink-caret {
  0% {border-color: transparent}
  50% {border-color: variables.$highlight-color;}
}

//line increases after typewriter animation
.line {
  margin-top: 5px;
  width: 0;
  height: 4px;
  margin-left: 0px;
  background-color: variables.$highlight-color;
  animation: increase 2s linear forwards;
  animation-delay: 4s;
}

@keyframes increase {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* For mobile screens*/
@media only screen and (max-width:640px) {
  .homeDiv {
    h1 {
      font-size: 50px;
    }
  
    p {
      font-size: variables.$mobile-p;
    }

    .typewriter {
      margin-left: 0;

      p:first-child {
        animation: 2s linear slideinOne;
      }
    
      h1 {
        animation: 3s linear slideinTwo;
      }
      p:nth-child(4) {
        animation: 5s linear slideinThree;
      }
    }

    .typingText {
      animation-delay: 2s;
    }

    .line {
      animation-delay: 5s;
    }
    @keyframes slideinTwo {
      from {
        transform: (translateX(-150vw));
      } 
      60% {
        transform: (translateX(0));
      }
    }

    @keyframes slideinThree {
      from {
        transform: (translateX(-400vw));
      } 
      90% {
        transform: (translateX(0));
      }
    }
  }
}