@use 'variables';

.homeDiv {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.homeMain {
  height: 100%;
  display: flex;
  align-items: center;
  background-position: center center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: filter 0.3s ease-in-out;
}

//typing animation
.typewriter {
  color: variables.$heading-color;
  z-index: 1;
  padding: 40px;
  margin-left: 10%;
  margin-top: -200px;
  width: 420px;

  p:first-child {
    color: variables.$text-color;
    margin-bottom: 0px;
  }

  h1 {
    font-size: 60px;
    margin: 5px 0px;
  }

  span {
    font-weight: 300;
    color: variables.$highlight-color;
  }
}

.nameDiv {
  width: 300px;
}

.typingText {
  overflow: hidden;
  border-right: .15em solid variables.$text-color;
  white-space: nowrap;
  margin: auto;
  letter-spacing: .15em;
  font-size: 22px;
  opacity: 0;
  color: grey;
  animation: 
    typing 1.5s steps(40, end),
    blink-caret .75s step-end infinite;
  animation-fill-mode: forwards;
  animation-delay: 1.2s;
}

 @keyframes typing {
  0% {
    width:0;
  }
  1% {
    opacity: 1;
  }
  to {
    width: 100%; 
    opacity: 1;   
    border-right: .15em solid variables.$text-color;
  }
}

@keyframes blink-caret {
  0% {border-color: transparent}
  50% {border-color: variables.$text-color;}
} 

//line increases after typewriter animation
.line {
  margin-top: 5px;
  width: 0;
  height: 2px;
  margin-left: 0px;
  background-color: variables.$highlight-color;
  animation: increase 2s linear forwards;
  animation-delay: 4s;
}

@keyframes increase {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* For mobile screens*/
@media only screen and (max-width:640px) {
  .homeDiv {
    h1 {
      font-size: 50px;
    }
  
    p {
      font-size: variables.$mobile-p;
    }

    .typewriter {
      margin-left: 0;
    }

    .nameDiv {
      width: 245px;
    }
  }
}