@use "variables";

%navbar-shared {
  display: flex;
  align-items: center;
}

.navbarDiv {
  @extend %navbar-shared;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0px;
  position: sticky;
  top: 0px;
  height: 110px;
  z-index: 7;
  a {
    color: variables.$text-color;
  }
}

.navbarLeft {
  @extend %navbar-shared;
  padding-left: 40px;
  margin-left: 10px;
}

.menuIcon {
  position: absolute;
  top: 50%;
  right: 25px;
  transform: translateY(-50%);
  display: none;
  font-size: 32px;
  cursor: pointer;
}

.navbarRight {
  @extend %navbar-shared;
  gap: 20px;
  padding-right: 20px;
  margin-right: 10px;
  margin-left: auto;
  ul {
    display: flex;
    gap: 20px;
    padding: 0;

    li {
      list-style-type: none;
    }
  }
}

.navLink {
  transition: color 0.3s, text-shadow 0.3s, font-weight 0.3s;
}

.navLink:hover {
  border-bottom: 2px solid variables.$text-color;
}


a.logo {
  font-family: variables.$main-font;
  font-size: 30px;
  transition: color 0.3s, text-shadow 0.3s, font-weight 0.3s;
  font-weight: 400;
  color: variables.$heading-color;
}

.logo:hover {
  font-size: 31px;
}

/* For mobile screens*/
@media only screen and (max-width:600px) {
  .navbarDiv {
    justify-content: center;

    .navbarLeft {
      padding-left: 30px;
      margin: 0px;
      margin-right: 20px;
    }

    .menuIcon {
      display: block;
    }
  
    .navbarRight {
      ul {
        // navigation menu is positioned to start 60px from the top of the document (which is directly below the navbar)
        position: absolute;
        top: 60px;
        left: 0;
        // stacks the li tags vertically 
        flex-direction: column;
        width: 100%;
        display: none;
        border-top: 1px solid variables.$text-color;
        background-color: lighten(variables.$background-color, 1%);
      }
      li {
        text-align: center;
        margin: 0;
        padding: 5px;
        border-bottom: 1px solid variables.$text-color;
        a {
          color: black;
          width: 100%;
        }
      }
      li:hover {
        background-color: #eee;
      }
    }

    .navbarRight.expanded ul {
      display: block;
    }
  
    .logo {
      font-size: 22px;
    }
  
    .navLink {
      font-size: 4vw;
    }
  
    .navbarRight {
      gap: 10px;
    }
  }
}