@use "variables";

%navbar-shared {
  display: flex;
  align-items: center;
}

.navbarDiv {
  @extend %navbar-shared;
  justify-content: space-between;
  width: 100%;
  padding: 30px 0px;
  background-color: black;
  position: sticky;
  top: 0px;
  height: 110px;
  z-index: 7;
  a {
    color: white;
  }
}

.navbarLeft {
  @extend %navbar-shared;
  padding-left: 40px;
  margin-left: 10px;
}

.navbarRight {
  @extend %navbar-shared;
  gap: 20px;
  padding-right: 40px;
  margin-right: 10px;
}

.navLink {
  transition: color 0.3s, text-shadow 0.3s, font-weight 0.3s;
}

.navLink:hover {
  border-bottom: 2px solid variables.$highlight-color;
}

.logo {
  font-family: variables.$main-font;
  font-size: 40px;
  transition: color 0.3s, text-shadow 0.3s, font-weight 0.3s;
  font-weight: 300;
}

.logo:hover {
  text-shadow: 2px 0px 0px rgb(255, 255, 255); 
}

/* For mobile screens*/
@media only screen and (max-width:600px) {
  .navbarDiv {
    justify-content: center;

    .navbarLeft {
      padding-left: 0px;
      margin: 0px;
      margin-right: 20px;
    }
  
    .navbarRight {
      padding-right: 0px;
      margin: 0px;
    }
  
    .logo {
      font-size: 22px;
    }
  
    .navLink {
      font-size: 4vw;
    }
  
    .navbarRight {
      gap: 10px;
    }
  }
}