/* Projects */
.projectsDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}

.projectCards {
  display: flex;
  gap: 20px 40px;
  flex-wrap: wrap;
  margin: 0px 40px;
  justify-content: center;
}

.projectCardDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectImg {
  max-width: 200px;
  max-height: 300px;
}

.projectTitle {
  position: absolute;
}

.greyout {
  opacity: 50%;
}