@use "templates";
@use "variables";

/* Projects */
.projectsDiv {
  @extend %sectionDivTemplate;
  height: 100%;
  justify-content: center;
  margin-bottom: 300px;
}

.projectHeader {
  margin-bottom: 50px;
  font-size: 60px;
  color: lighten(variables.$highlight-color, 10%);
}

/* Project Card */
.projectImg {
  height: 500px;
  object-fit: contain;
}

.card {
  max-width: 700px;
  margin-bottom: 30px;
  display: flex;
  gap: 30px;
}

.imageContent, .cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 14px;
}

.cardImage, .cardImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.popupLinks {
  display: flex;
  gap: 20px;
  a {
    color: black;
  }
}

.popupLink {
  @extend %centerTemplate;
  gap: 10px;
  height: 40px;
  width: 100px;
  background-color: variables.$highlight-color;
  border-radius: 10px;
}

.popupLink:hover {
  color: white;
}

/* For mobile screens*/
@media only screen and (max-width:800px) {
  .projectsDiv {
    h1 {
      font-size: variables.$mobile-h1;
    }

    p {
      font-size: variables.$mobile-p;
    }
    .card {
      flex-direction: column;
      max-width: 300px;
      margin-bottom: 0px;
      h3 {
        margin: 0px;
      }
      p {
        margin-top: 10px;
        margin-bottom: 20px;
      }
    }
  }
}
