/* Projects */
.projectsDiv {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 90px;
}

.projectCards {
  display: flex;
  gap: 20px 40px;
  flex-wrap: wrap;
  margin: 0px 40px;
  justify-content: center;
}

.projectCardDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projectImg {
  max-width: 200px;
  max-height: 300px;
}

.projectTitle {
  position: absolute;
}

.greyout {
  opacity: 50%;
}

/* Project Popup */
.projectPopupDiv {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.content {
  margin: 20% auto;
  padding: 20px;
  width: 80%;
  border: 1px solid black;
  background-color: white;
}

.popupImg {
  max-width: 300px;
  max-height: 400px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.close {
  font-weight: bold;
  font-size: 25px;
}

.close:hover {
  cursor: grab;
}

.links {
  display: flex;
  flex-direction: column;
}

.popupMain {
  display: flex;
  gap: 20px;
  align-items: center;
}

.popupLink {
  height: 40px;
}