@use "variables";

h1 {
  font-size: 40px;
}

.skillsContainerDiv {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  text-align: center;
  padding-top: 110px;
}

.skillsDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}

.skillSection {
  font-size: 20px;
  width: 250px;
}

.skillHeader {
  border-bottom: 5px solid variables.$highlight-color;
  padding: 10px 0px;
}

.skillIcon {
  width: 20px;
  filter: grayscale(100%);
}

/* For mobile screens*/
@media only screen and (max-width:600px) {
  h1 {
    font-size: 30px;
  }
  .skillHeader {
    font-size: 20px;
  }

  .skillSection {
    font-size: 15px;
  }
}
