%sectionDivTemplate {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
  padding-top: 110px;
}

%centerTemplate {
  display: flex;
  justify-content: center;
  align-items: center;
}
