@use "./styles/variables";

body, html, #root {
  margin: 0;
  padding: 0;
  background-color: variables.$background-color;
  color: variables.$text-color;
}

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
}

a {
  text-decoration: none;
  font-size: 20px;
}

p {
  font-size: variables.$comp-p;
}

/* App Div */
.app-div {
  font-family: variables.$main-font;
}

/* Scroll up button */
.scrollTopDiv {
  position: fixed;
  align-items: center;
  bottom: 50px;
  right: 20px;
  z-index: 9999;
  p {
    margin: 8px;
    font-size: 14px;
  }
}

.scrollTopButton {
  width: 50px;
  height: 100px;
  text-align: center;
  font-size: 14px;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: variables.$background-color;
  p {
    transform: rotate(270deg);
    white-space: nowrap;
  }
}

.scrollTopButton:hover {
  font-size: 16px;
  cursor: pointer;
}
